@import "transitionAll.less";
@import "constants.less";

.newsHeadline 
{
   display: flex;
   flex-direction: column;
   max-height: 100px;
}
.headlineTitle
{
    font-size: 32px;
}
.headlineDescription
{
    padding-left: 6px;
    font-size: 22px;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.newsHeadlines, 
.hackerNews
{
    position: absolute;
    bottom: @padding;
    width: 45%;
    height: 35%;
    .TransitionAll(1.6s);
}
.newsTransitionOut
{
    left: -400px;
    opacity: 0;
}
.newsTransitionIn
{
    left: @padding;
    margin-right: 40px;
    opacity: 1;
}

.hackerNewsTransitionOut
{
    right: -400px;
    opacity: 0;
}
.hackerNewsTransitionIn{
    right: @padding;
    margin-left: 40px;
    opacity: 1;
}